#details{
    @include flexbox();
    @include flex-direction(column);
    @include flex();
    width: 100%;
    height: 100%;
    .nav{
        width: 100%;
        height: .61rem;
        background: #f9f9f9;
        @include flexbox();
        @include border(0 0 1px 0,#d4d4d4,solid);
        li{
            position: relative;
            font-size: .155rem;
            line-height: .60rem;
            @include flex();
            text-align: center;
            color: #999a9a;
            span{
                position: absolute;
                top: -3px;
                right: 0px;
                font-size: .085rem;
            }
            &.active{
                color: #000;
            }
        }
    }
    .scroll{
        width: 100% !important;
        height: 100%;
        overflow-y:scroll;
        @include flexbox();
        @include flex-direction(column);
        @include flex();
        background: #ddd;
        .showdetail{
            background: #fff;
            width: 100%;
            height: 2.95rem;
            .showImg{
                height: 2.125rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .showTitle{
                padding:.2rem 0;
                margin:0 .18rem;
                position: relative;
                @include border(0 0 1px 0,#d6d6d6,solid);
                h1{
                    font-size: .18rem;
                }
                p{
                    font-size: .135rem;
                }
                .sAs{
                    position: absolute;
                    top: .22rem;
                    right:0;
                    span{
                        padding-left:.22rem ;
                        width:.52rem;
                        display: inline-block;
                    }
                    span:first-child{
                        background: url(/static/images/biz_show_fav_default.png) no-repeat;
                        background-size: .18rem;
                        margin-right: .22rem;
                    }
                    span:last-child{
                        background: url(/static/images/biz_show_share_default.png) no-repeat;
                        background-size: .18rem;
                    }
                }
            }
        }
        .chooseStyle{
            background: #fff;
            width: 100%;
            padding:0 .18rem;
            .styleColor{
                padding: .1rem 0;
                dt{
                    font-size: .155rem;
                    margin-bottom: .125rem;
                }
                dd{
                    width: 100%;
                    div{
                        display: inline-block;
                        width: .38rem;
                        height: .38rem;
                        @include border(.02rem,#d2d2d2,solid);
                        padding: .045rem;
                        margin-right: .23rem;
                        margin-bottom:.1rem;
                        img{
                            width: 100%;
                            height:100%;
                        }
                        &.active{
                            @include border(.03rem,#000,solid);
                            background: url(/static/images/biz_order_buyconfirm_select_triangle.png) no-repeat right bottom;
                            background-size: .08rem;
                        }
                    }
                }
            }
            .styleStyle,.styleOther{
                padding: .1rem 0;
                dt{
                    font-size: .155rem;
                    margin-bottom: .125rem;
                }
                dd{
                    width:100%;
                    div{
                        display: inline-block;
                        @include border(.02rem,#d2d2d2,solid);
                        padding: 0 .18rem;
                        margin-bottom:.1rem;
                        margin-right: .23rem;
                        font-size: .12rem;
                        text-align: center;
                        line-height: .39rem;
                        &.active{
                            @include border(.03rem,#000,solid);
                            background: url(/static/images/biz_order_buyconfirm_select_triangle.png) no-repeat right bottom;
                            background-size: .08rem;
                        }
                    }
                }
            }
        }
        .showVideo{
            background: #fff;
            position: relative;
            width: 100%;
            // height: 3.07rem;
            img{
                width:100%;
                height: 100%;
            }
            .showposi{
                position: absolute;
                top: 0;
                left: 0;
                .authorImg{
                    width: .85rem;
                    height: .85rem;
                    margin:.41rem 0 .25rem .23rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                h1{
                    margin-left: .23rem;
                    font-size: .18rem;
                    color: #fff;
                }
                p{
                    margin-left: .23rem;
                    color:#fff;
                }
                .messge{
                    ::after{
                        display: block;
                        width:.85rem;
                        height:.04rem;
                        background: #a4a4a4;
                        margin: .2rem 0;
                    }
                    margin:0 .23rem;
                    color:#fff;
                    max-height: 1.65rem;
                    font-size: .13rem;
                    line-height: .22rem;
                    word-break: break-all;
                    margin-bottom: 0.3rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
                a{
                    margin-left: .23rem;;
                    font-size: .13rem;
                    padding:0.1rem .2rem ;
                    margin-top: .3rem;
                    @include border(.02rem,#fff,solid,.22rem);
                    color: #fff;
                }
            }
        }
        .zhanshi{
            background: #fff;
            padding-top:.2rem;
            width: 100%;
            margin-bottom:.12rem;
            p{
                text-align: center;
                line-height: .6rem;
                font-size: .18rem;
            }
            .zsImg{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .zsStyle{
                padding: .1rem 0;
                margin-left:.375rem;
                dt{
                    font-size: .155rem;
                    margin-bottom: .125rem;
                }
                dd{
                    width: 100%;
                    div{
                        display: inline-block;
                        width: .38rem;
                        height: .38rem;
                        @include border(.02rem,#d2d2d2,solid);
                        padding: .045rem;
                        margin-right: .23rem;
                        margin-bottom:.1rem;
                        img{
                            width: 100%;
                            height:100%;
                        }
                        &.active{
                            @include border(.03rem,#000,solid);
                            background: url(/static/images/biz_order_buyconfirm_select_triangle.png) no-repeat right bottom;
                            background-size: .08rem;
                        }
                    }
                }
            }
        }

    }
}
