.m-header {
  height: .5rem;
  background: #fff;
  width: 100%;
  @include flexbox();
  padding: 0 .17rem;
  .logo {
    height: 100%;
    width: 1.2rem;
    @include flexbox();
    @include flex-direction();
    @include align-items();
    img {
      height: 50%;
      width: 100%;
    }
  }
  .empty {
    @include flex();
  }
  // .search {
  //   width: .5rem;
  //   height: 100%;
  // }
  // .me {
  //   width: .5rem;
  //   height: 100%;
  // }
  .cart, .me, .search{
    width: .5rem;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
