.mint-popup{
	width:100%;
}
.m-popup-box{
	width:100%;
	height: 80%;
	.m-popup-title{
		@include flexbox();
		width:100%;
		height: 1.1rem;
		padding: .21rem 0 .15rem .15rem;
		position: relative;
		background: #fff;
		margin-bottom: .2rem;
		.m-popup-img{
			width:.75rem;
			height: .75rem;
			@include border(1px,#ddd);
			img{
				width:100%;
				height: 100%;
			}
		}
		.m-popup-price{
			@include flex();
			width:100%;
			height: 100%;
			display:inline-block;
			margin-left: .12rem;
			h4,h5,h6{
				font-weight: 500;
				line-height: .24rem;
			}
			h4{
				font-size: .15rem;
			}
			h5,h6{
				font-size: .12rem;
			}
		}
		p{
			display: block;
			width:.62rem;
			height: .21rem;
			position:absolute;
			top:-.07rem;
			right: .22rem;
			background: #000;
			color:#fff;
			text-align: center;
		}
	}
	.m-popup-details{
		padding: .2rem 0 0 .15rem;
		overflow-y:scroll;
		width:100%;
		height: 3rem;
		background: #fff;
		.m-popup-count{
			@include flexbox()
			>li{
				@include border(1px,#D4D4D4);
				width:.43rem;
				height: .43rem;
				text-align: center;
				line-height: .43rem;
				color:#E67170;
				font-size: .16rem;
				img{
					width:100%;
					height: 100%;
				}
			}	
		}
		.m-popup-color{
			p{
				line-height: .5rem;
			}
			>li{
				display: inline-block;
				margin-right: .17rem;
				width:.35rem;
				height: .35rem;
				padding: .04rem;
				@include border(1px,#D4D4D4);
				img{
					width:100%;
					height: 100%;	
				}
			}
		}
		.m-popup-style{
			p{
				line-height: .5rem;
			}
			// text-align: center;
			>li{
				display: inline-block;
				width:45%;
				height: .4rem;
				@include border(1px,#D4D4D4);
				line-height: .4rem;
				text-align: center;
				margin-right: 4%;
				margin-bottom: .1rem;
			}
		}
	}
	.m-popup-btn{
		width:100%;
		height: .5rem;
		text-align: center;
		line-height: .5rem;
		background: #000;
		color:#fff;
		font-size: .15rem;
	}
}